{% extends 'base.html.twig' %}

{% block body %}

    {% for trajet in trajets %}
            <table class="table text-center">
                <p> <strong> {{ trajet.itineraire }}</strong> </p>
            <tr>
                <th class="active text-center">{{'trajet.covoiturage'|trans}}</th>
                <th class="active text-center">{{'trajet.depart'|trans}}</th>
                <th class="active text-center">{{'trajet.destination'|trans}}</th>
                <th class="active text-center">{{'trajet.adresseD'|trans}}</th>
                <th class="active text-center">{{'trajet.adresseA'|trans}}</th>
                <th class="active text-center">{{'trajet.temps'|trans}}</th>
            </tr>

            {% for covoiturage in trajet.getCovoiturages() %}
                <tr>
                    <td><a href="{{ path('covoiturage.show', {slug: covoiturage.slug}) }}">{{ covoiturage.id }}</a></td>
                    <td>{{ trajet.depart }}</td>
                    <td>{{ trajet.destination }}</td>
                    <td>{{ trajet.adressedepart }}</td>
                    <td>{{ trajet.adressearrivee }}</td>
                    <td>{{ trajet.tempstrajet }}</td>
                </tr>
            {% endfor %}
    {% endfor %}

    </table>
{% endblock %}