{% extends 'base.html.twig' %}

{% block body %}

    Les covoiturages consultés récemment :
    {% for covoiturage in historyCovoiturages %}
        <a href="{{ path('covoiturage.list', {slug: covoiturage.slug}) }}">{{ covoiturage.trajet.itineraire }}</a>
    {% endfor %}

    <table class="table text-center">
        <tr>
            <th class="active text-center">{{ 'tab.cov1'|trans }}</th>
            <th class="active text-center">{{ 'tab.cov2'|trans }}</th>
            <th class="active text-center">{{ 'tab.cov3'|trans }}</th>
            <th class="active text-center">{{ 'tab.cov4'|trans }}</th>
            <th class="active text-center">{{ 'tab.cov5'|trans }}</th>
            <th class="active text-center">{{ 'tab.cov6'|trans }}</th>
            <th class="active text-center">{{ 'tab.cov7'|trans }}</th>
        </tr>

        {% for covoiturage in covoiturages %}
            <tr>
                <td><a href="{{ path('covoiturage.show', {slug: covoiturage.slug}) }}">{{ covoiturage.trajet.itineraire }}</a></td>
                <td>{{ covoiturage.datedepart|date('h:m d-m-Y') }}</td>
                <td>{{ covoiturage.datearrivee|date('h:m d-m-Y') }}</td>
                <td>{{ covoiturage.description }}</td>
                <td>{{ covoiturage.nbplace }}</td>
                <td>{{ covoiturage.prix }}</td>
                <td>
                    <form action = "{{ path('covoiturage.edit', {slug: covoiturage.slug}) }}">
                        <button type="submit"  class="btn btn-info">Éditer covoiturage</button>
                    </form>
                    <form action = "{{ path('covoiturage.delete', {slug: covoiturage.slug}) }}">
                        <button type="submit"  class="btn btn-danger">Supprimer covoiturage</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}